{% extends "main/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}


      <div>
        <form method="get">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Rechercher un itinéraire</legend>
            </fieldset>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Rechercher un itinéraire</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
            <h4>{{ message }}</h4>

            {% if direct_path or connexion_path %}
                <!--On fait le choix de permettre la recherche de donner des résultats à la fois de lignes directes et de lignes indirectes, même si les lignes directes sont plus optimales. -->
                {% if direct_path %}
                    <!--Résultats des lignes directes-->
                    <p>Nous avons trouvé <strong>{{ direct_path|length }} ligne{{ direct_path|length|pluralize }} directe{{ direct_path|length|pluralize }}</strong> pour aller de {{ departure_station }} à {{ arrival_station }} </p>
                    <ul>
                    {% for item in direct_path %}
                        <li>
                            <span style="font-size: 1.2em; font-weight: 800">{{ item }}</span>
                            <ul>
                                <li><strong>Nom de la ligne :</strong> {{ item.Line_name }}</li>
                                <li><strong>Arrêts de la ligne : </strong>
                                    <ul>
                                        {% for station_item in item.Line_stations.all %}
                                            <li
                                                    {% if station_item.id == departure_station.id or station_item.id == arrival_station.id %}
                                                        style="color:green; font-weight: 800"
                                                    {% endif %}
                                            >
                                                {{ station_item.Station_name }}
                                                ({{ station_item.Station_adress }})
                                                {% if station_item.id == departure_station.id %}

                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if connexion_path %}
                    <!--Lignes indirectes (1 correspondance maximum)-->
                    <p>Nous avons trouvé <strong>{{ connexion_path|length }} ligne{{ connexion_path|length|pluralize }} indirecte{{ connexion_path|length|pluralize }}</strong> pour aller de {{ departure_station }} à {{ arrival_station }} : </p>

                    {% for item in connexion_path %}
                        <li>
                            <span style="font-size: 1.2em; font-weight: 800">{{ item.0 }} - CORRESPONDANCE A {{ item.2.Station_name }} - {{ item.1|length }} choix de correspondance </span>
                            <ul>
                                <li><strong>Ligne de départ : </strong> {{ item.0 }}</li>
                                <li><strong>Arrêt de correspondance : </strong> {{ item.2 }}</li>
                                <li><strong>Lignes de correspondance : </strong>
                                    <ul>
                                        {% for line_item in item.1 %}
                                            <li>
                                            Ligne {{ line_item.Line_number }} ({{ line_item.Line_name }})
                                            </li>

                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                <p>Aucun résultat trouvé ! </p>
            {% endif %}


            </small>
        </div>

    </div>




{% endblock %}